<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        fieldset{
            color: rgb(255, 0, 0);
        }
    </style>
</head>
<body>
    <h1>Sign Now</h1>
    <form action="/regis" method="POST">
        <legend>registrasi</legend>
        <label for="email">Email</label><br>
        <input name="email" id="email" placeholder="Email" type="email"><br>
        <td></td><br>

        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" placeholder="Name"><br>
        <td></td><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <td></td><br>

        <label for="password">Registrasi Password</label><br>
        <input type="password" name="regristrasi_password" id="registrasi_password" placeholder="Registrasi Password"><br>
        <td></td><br>
        <input type="submit" name="Sign up">
    </form>
</body>
</html>